<!--Banner-->

<div class="inner-banner">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
      	<%= image_tag "product-bg.jpg", class: "img-responsive"%>
      </div>
    </div>
  </div>
</div>

<!--Main Content-->
<div class="container product">
  <div class="row m-t-20 m-b-40">
    <%= raw @post.the_content %>
  </div>
</div>
